# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Temporary files
.netrwhist
*~
start.txt
profile.log

# Sessions
Session.vim
sessions/
sessionslast_session.vim

autoload/
plugged/
neovim-undo-dir/

# Scratch
__Scratch__

# Tags
tags
Tags
