# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Temporary files
.netrwhist
*~
start.txt
profile.log

# Sessions
Session.vim
sessions/
sessionslast_session.vim

autoload/
plugged/
neovim-undo-dir/
undodir/

# Scratch
__Scratch__
neovim-scratch.txt
vim-keys*
vim_keys*

# Tags
tags
Tags
